import { describe, it, expect, beforeAll } from 'bun:test';
import { {{pascalName}}Filter } from './{{kebabName}}.filter';

describe('{{pascalName}}Filter', () => {
  let filter: {{pascalName}}Filter;

  beforeAll(() => {
    filter = new {{pascalName}}Filter();
  });

  it('should be defined', () => {
    expect(filter).toBeDefined();
  });
});
