import type { PipeTransform } from '@nemesis-js/common';

export class {{pascalName}}Pipe implements PipeTransform {
  transform(value: unknown): unknown {
    // TODO: implement your transformation / validation logic here
    return value;
  }
}
