import { describe, it, expect, beforeAll } from 'bun:test';
import { {{pascalName}}Controller } from './{{kebabName}}.controller';

describe('{{pascalName}}Controller', () => {
  let controller: {{pascalName}}Controller;

  beforeAll(() => {
    controller = new {{pascalName}}Controller();
  });

  it('should be defined', () => {
    expect(controller).toBeDefined();
  });
});
