import { Controller, Get, Post, Put, Delete } from '@nemesis-js/common';
import type { RequestContext } from '@nemesis-js/http';
import { {{pascalName}}Service } from './{{kebabName}}.service';
import type { Create{{pascalName}}Dto } from './dto/create-{{kebabName}}.dto';
import type { Update{{pascalName}}Dto } from './dto/update-{{kebabName}}.dto';

@Controller('/{{kebabName}}')
export class {{pascalName}}Controller {
  constructor(private readonly {{camelName}}Service: {{pascalName}}Service) {}

  @Post('/')
  create(ctx: RequestContext) {
    const dto = ctx.body as Create{{pascalName}}Dto;
    return ctx.json(this.{{camelName}}Service.create(dto), 201);
  }

  @Get('/')
  findAll(ctx: RequestContext) {
    return ctx.json(this.{{camelName}}Service.findAll());
  }

  @Get('/:id')
  findOne(ctx: RequestContext) {
    const id = ctx.getParam('id');
    return ctx.json(this.{{camelName}}Service.findOne(id));
  }

  @Put('/:id')
  update(ctx: RequestContext) {
    const id = ctx.getParam('id');
    const dto = ctx.body as Update{{pascalName}}Dto;
    return ctx.json(this.{{camelName}}Service.update(id, dto));
  }

  @Delete('/:id')
  remove(ctx: RequestContext) {
    const id = ctx.getParam('id');
    return ctx.json(this.{{camelName}}Service.remove(id));
  }
}
