import { Module } from '@nemesis-js/common';
import { {{pascalName}}Controller } from './{{kebabName}}.controller';
import { {{pascalName}}Service } from './{{kebabName}}.service';

@Module({
  controllers: [{{pascalName}}Controller],
  providers: [{{pascalName}}Service],
})
export class {{pascalName}}Module {}
